/******* FONTS *******/

/*** Young Serif ***/
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: normal;
}

/*** Outfit Regular ***/

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*** Outfit Semi-Bold ***/
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

/*** Outfit Bold ***/
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --darkRaspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --roseWhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightGrey: hsl(30, 18%, 87%);
  --wengeBrown: hsl(30, 10%, 34%);
  --darkCharcoal: hsl(24, 5%, 18%);
}

body {
  font-family: Outfit, sans-serif;
  font-display: swap;
  font-size: 1rem;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  color: var(--nutmeg);
}

h3 {
  font-family: Outfit, sans-serif;
  font-size: 1.5rem;
  color: var(--darkRaspberry);
  margin-bottom: 1.25rem;
}

p {
  margin-bottom: 1rem;
}
p,
li {
  color: var(--darkCharcoal);
}
main {
  height: 100svh;
}

.wrapper {
  padding: 1.5rem;
}

section {
  margin-bottom: 1.5rem;
}

hr {
  margin-bottom: 1.5rem;
}

.recipe__time {
  background-color: var(--roseWhite);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.recipe__time li::marker {
  color: var(--darkRaspberry);
}

.recipe__time ul,
.recipe__time li {
  padding-left: 1rem;
}

.recipe__time li:not(:last-child) {
  margin-bottom: 0.25rem;
}

.recipe__time span,
.recipe__instructions span {
  color: var(--wengeBrown);
  font-weight: 700;
}

.recipe__instructions ol,
.recipe__instructions li {
  padding-left: 1rem;
}

.recipe__instructions li:not(:last-child) {
  margin-bottom: 0.25rem;
}

.recipe__instructions li::marker {
  color: var(--nutmeg);
  font-weight: 600;
}
