/******* FONTS *******/

/*** Young Serif ***/
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: normal;
}

/*** Outfit Regular ***/

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*** Outfit Semi-Bold ***/
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

/*** Outfit Bold ***/
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --darkRaspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --roseWhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightGrey: hsl(30, 18%, 87%);
  --wengeBrown: hsl(30, 10%, 34%);
  --darkCharcoal: hsl(24, 5%, 18%);
}
